<launch>
  <param name="circumference" value="$(eval 2.* 3.1415)" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty_forklift_measurements.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="false" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
    <arg name="verbose" value="true" />
  </include>
  <group ns="0">
    <arg name="tag_id" default="0" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="1">
    <arg name="tag_id" default="1" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="2">
    <arg name="tag_id" default="2" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="3">
    <arg name="tag_id" default="3" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="4">
    <arg name="tag_id" default="4" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="5">
    <arg name="tag_id" default="5" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="6">
    <arg name="tag_id" default="6" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="7">
    <arg name="tag_id" default="7" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="8">
    <arg name="tag_id" default="8" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="9">
    <arg name="tag_id" default="9" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="10">
    <arg name="tag_id" default="10" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="11">
    <arg name="tag_id" default="11" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="12">
    <arg name="tag_id" default="12" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="13">
    <arg name="tag_id" default="13" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="14">
    <arg name="tag_id" default="14" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="15">
    <arg name="tag_id" default="15" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="16">
    <arg name="tag_id" default="16" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="17">
    <arg name="tag_id" default="17" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="18">
    <arg name="tag_id" default="18" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="19">
    <arg name="tag_id" default="19" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="20">
    <arg name="tag_id" default="20" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="21">
    <arg name="tag_id" default="21" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="22">
    <arg name="tag_id" default="22" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="23">
    <arg name="tag_id" default="23" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="24">
    <arg name="tag_id" default="24" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="25">
    <arg name="tag_id" default="25" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="26">
    <arg name="tag_id" default="26" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="27">
    <arg name="tag_id" default="27" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="28">
    <arg name="tag_id" default="28" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="29">
    <arg name="tag_id" default="29" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="30">
    <arg name="tag_id" default="30" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="31">
    <arg name="tag_id" default="31" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="32">
    <arg name="tag_id" default="32" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="33">
    <arg name="tag_id" default="33" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="34">
    <arg name="tag_id" default="34" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <group ns="35">
    <arg name="tag_id" default="35" />
    <arg name="y_pos" default="$(eval 3.0 + 0.2*arg('tag_id'))" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/uwb_tag.urdf.xacro' tag_id:=$(arg tag_id)" />
    <node pkg="gazebo_ros" type="spawn_model" name="tag_$(arg tag_id)" args="-urdf -model tag_$(arg tag_id) -x 0 -y $(arg y_pos) -z 1.5 -Y -1.570796 -param robot_description" />
  </group>
  <arg name="marker_frequency" default="2" />
  <arg name="marker_collision" default="false" />
  <include file="$(find gazebo2rviz)/launch/gazebo2tf.launch" />
  <include file="$(find gazebo2rviz)/launch/gazebo2marker.launch">
    <arg name="frequency" value="$(arg marker_frequency)" />
    <arg name="collision" value="$(arg marker_collision)" />
  </include>
</launch>
